In [6]:
from sklearn.datasets import make_regression
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
X,y =make_regression(
    n_samples=1000,
    n_features=5,
    n_informative=3,
    random_state=0
)

In [8]:
df=pd.DataFrame(X,columns=['x1','x2','x3','x4','x5'])
df['y'] = y

In [9]:
df.sample(10)

           x1        x2        x3        x4        x5           y
660  0.617661  0.463873  0.891968 -0.438356 -0.743152  -17.361679
228  0.758038 -1.343193 -0.630226 -0.368415 -0.368764  -54.439024
733 -0.159573  0.693773 -1.346718 -0.460720 -1.334258 -149.156647
559 -0.437820 -1.147469 -1.079932 -0.663478  1.126636   23.312260
791  0.434789  0.649830  0.140496 -0.818504  0.818839   51.471771
918  0.676409 -0.785315 -0.217580 -1.586424  0.198087  -12.790692
224  0.346494  1.145262 -0.025799 -0.220076  1.308669   83.604732
759 -0.421328  0.768771 -1.980566 -0.948933  0.131912  -83.006362
952 -1.768538  0.356293  0.766663 -0.598654 -1.115897  -49.029796
266 -0.197787  0.898241 -0.173608  0.677246 -0.031911   -2.019387

In [18]:
df.isnull().any()

x1    False
x2    False
x3    False
x4    False
x5    False
y     False
dtype: bool

In [19]:
df.isnull().sum()

x1    0
x2    0
x3    0
x4    0
x5    0
y     0
dtype: int64